<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css"href="/styles/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  </head>
  <body>


    <header id="navbar">
      <h1 id="navbarTitle">Oak Talks About Music </h1>
      <a class="navbarLink" href="/views/home.hbs" class="navbar-brand mr-2">Home</a>
      <a class="navbarLink" href="/views/about.hbs" class="btn btn-link">About</a>
      <a class="navbarLink" href="/views/contact.hbs" class="btn btn-link">Contact</a>
    </header>

    {{{body}}}

    <footer>
      <p>This website was made by Emil "The Oak" Karlsson for the course:</p>
      <h4><i>Web Development Fundamentals</i></h4>      
      <a href="/views/login.hbs" class="navbar-brand mr-2">Admin</a>
    </footer>
  
  </body>
</html>