<div class="container">
  <div class="columns">
    <div class="column col-6">     
      <div class="hero bg-primary">
        <div class="hero-body">
          <h1>About</h1>
          <p>My name is Emil Karlsson, 22 year old guitarist from Gothenburg.</p>
          <p>Studied DMP for two years, now starting my second year at NMD.</p>
        </div>
      </div>
    </div>
    <div class="column col-6">
      <div class="hero bg-primary">
        <div class="hero-body">
          <h1>Favorite stuffs</h1>
          <p>Guitar</p>
          <p>That's it</p>
        </div>
      </div>
    </div>
  </div>
</div>




