<div class="hero bg-primary">
  <div class="hero-body">
    <h1>About</h1>
    <p>My name is Emil Karlsson, 22 year old guitarist from Gothenburg.</p>
    <p>Studied DMP for two years, now starting my second year at NMD.</p>
  </div>
</div>