body{
  padding-top: 5%;
}
#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(68, 67, 167);
  border-radius: 0 0 1vw 1vw;
  
}
#navbarTitle{
  margin-left: 1%;
  color: rgb(47, 46, 114);
}
.navbarLink{
  font-size: 15pt;
  color: rgb(47, 46, 114);
  margin-left: 10%;
  text-align: right;
  text-decoration: none;
  }

footer {
  display: inline;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(177, 177, 177, 0.308);

  text-align: center;
}
.hero{
  margin-bottom: 1%;
  border-radius: 1vw;
}

.postComment{
  max-width: 20%;
  background-color: rgb(35, 34, 85);
  margin-bottom: 1%;
}
.loginInputs{
  width: 40%;
}