.main-content {
  margin-top: 4rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  filter: brightness(0.9)
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(68, 67, 167);
  border-radius: 0 0 1vw 1vw;
  z-index: 999;
}

#navbarTitle {
  margin-left: 1%;
  color: rgb(230, 230, 230);
}

.navbarLink {
  font-size: 15pt;
  margin-right: 5%;
  color: rgb(230, 230, 230) !important;
}

footer {
  display: inline;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(177, 177, 177, 0.308);

  text-align: center;
}

.hero {
  margin-bottom: 3%;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.postCommentContainer {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1%;
  margin-top: 4%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  height: 10rem;
  overflow-y: scroll;
}

.postComment {
  min-width: 20%;
  max-width: min-content;
  background-color: rgb(216, 216, 216);
  color: black;
  margin: 1% 1% 2% 1%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

.postComment #comment {
  font-size: 10pt;
  padding: 0.2rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loginInputs {
  width: 40%;
}

.myMusicContainer {

  place-items: center;

  display: grid;
  gap: 15vw, 5vh;
  grid-template-columns: 30% 30%;
}

.myMusicGridItem {
  align-items: center;
  border-radius: 1vw;
  background-color: #707070;
}

.myMusicImage {
  border-radius: 1vw;
}

.myMusicTitle {
  color: rgb(209, 206, 206) !important;
  margin-left: 1vw;
}

.myMusicLink {
  margin-left: 1vw;
  color: rgb(230, 230, 230) !important;
}